@model MyFirstWebsite.Models.Users
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Email)<br />
    @Html.TextBoxFor(u => u.Email)<br />
    @Html.LabelFor(u => u.Password)<br />
    @Html.PasswordFor(u => u.Password)<br />
    @Html.LabelFor(u => u.Name)<br />
    @Html.TextBoxFor(u => u.Name)<br />
    @Html.LabelFor(u => u.Country)<br />
    @Html.TextBoxFor(u => u.Country)<br />
        <p>
            <button type="submit">Register</button>
        </p>
}